<div class="container">
<h1><%= "New list" %></h1>
<div class="containere-form">
  <div class="form">
 <%= simple_form_for @list do |f|  %>
  <%= f.input :name %>
 <%=  f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn-form" %>
<% end %>
</div>
</div>
<%= link_to "I'll be back", lists_path, class: "back-btn"  %>
</div>
